DATAKESH PSYCORE DATAKESH.EXE
muzik PSYCORE dnadream.xm
arkaplan PSYCORE 1.bmp
sekil1 PSYCORE 2.bmp
sekil2 PSYCORE 3.bmp
cr1 PSYCORE 4.bmp
cr2 PSYCORE 5.bmp
cr3 PSYCORE 6.bmp
cr4 PSYCORE 7.bmp
cr5 PSYCORE 8.bmp
efekt1 SOUND bell.wav
efekt2 SOUND fatality.wav
efekt3 SOUND gitti.wav
efekt4 SOUND pitti.wav
efekt5 SOUND pda.wav
efekt6 SOUND x.wav